* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: gray;
  }

  .container{
    display: grid;
    place-items: center;
    min-height: 100vh;

  }

  .cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2em;
  }

  .card{
    height: 200px;
    width: 200px;
    background-color: brown;
    margin: 10px;
    border-radius: 10px;
    display: grid;
    place-items: center;
    cursor: pointer;
    transition: all 0.8s ease;
  }
  .front{
    backface-visibility: hidden;
    color: red;
  }
  .back{
    backface-visibility: hidden;
    color: green;
    transform: rotateY(180);
  }
  .flip{
    transform: rotateY(180);
  }






  
  